.contenedor-ayudar {
  width: 100%;
}

.contenedor-titulo-ayudar {
  width: 100%;
  background: #ab1912;
  color: #fff;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contenedor-video-ayudar {
  width: 100%;
}

.contenedor-video-ayudar iframe {
  border: none;
}

.seccion-contenido-ayuda {
  width: 100%;
  height: 400px;
}

.caja-img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.caja-img img {
  object-fit: contain;
  width: 90%;
  height: 80%;
}

.caja-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  color: #fff;
}

.bg-primary {
  background: #ab1912;
}

.bg-white {
  background: #fff;
}

.bg-blue {
  background: #1973b8;
}

.bg-yape {
  background: #5f0b72;
}

.bg-plin {
  background: #0892ed;
}

.mt-10 {
  margin-top: 10px;
}

.color-n {
  color: #000;
}

.seccion-contenido-ayuda {
  display: block;
}

.seccion-contenido-ayuda-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .enlaces-desktop {
    display: block;
  }

  .seccion-contenido-ayuda-desktop {
    display: block;
  }

  .seccion-contenido-ayuda {
    display: none;
  }

  .contenedor-titulo-ayudar {
    background: transparent;
    color: #4a4a4a;
    padding: 20px;
  }

  .contenedor-video-ayudar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .contenedor-tabla {
    padding: 50px;
  }

  .seccion-contenido-ayuda-desktop {
    width: 100%;
    height: 620px;
    background: #fff;
    border-radius: 15px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  .scad-parte {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
  }

  .border-right {
    border-right: 1px solid #c8c8c8;
  }

  .scadp-contenido {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .border-bottom {
    border-bottom: 1px solid #c8c8c8;
  }

  .scadp-contenido img {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }

  .w-100 {
    width: 150px !important;
  }

  .h-100 {
    height: 100px !important;
  }
}
