.contenedor-ayudar {
  width: 100%;
}

.contenedor-titulo-ayudar {
  width: 100%;
  background: #ab1912;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor-video-ayudar {
  width: 100%;
  background: #000;
}

.contenedor-video-ayudar iframe {
  border: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .enlaces-desktop {
    display: block;
  }

  .contenedor-titulo-ayudar {
    background: transparent;
    color: #4a4a4a;
    padding: 20px;
  }

  .contenedor-video-ayudar {
    background: #000;
    padding: 20px;
  }
}
