.contenedor-contactanos {
  padding: 15px;
}

.contenedor-titulo-contactanos {
  color: #4a4a4a;
  text-align: center;
}

.contenedor-input-contactanos {
  margin-top: 10px;
  padding: 15px;
}

.input {
  width: 100%;
  padding: 15px;
  background: white;
  margin-bottom: 20px;
  border: 2px solid #ab1912;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}

.terminos {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.registro {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btnRegistro {
  padding: 14px 35px;
  border: none;
  text-decoration: none;
  background: #df251b;
  color: white;
  width: 37%;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.pregunta {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.pregunta a {
  color: #ab1912;
  font-weight: bold;
  text-decoration: underline;
}

.terminos a {
  color: #ab1912;
  font-weight: bold;
  text-decoration: underline;
}

.terminos a:hover {
  color: #f9b208;
  cursor: pointer;
}

.pregunta a:hover {
  color: #f9b208;
  cursor: pointer;
}
.enlaces-desktop {
  display: none;
}

.checkbox {
  position: absolute;
  left: 40px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .enlaces-desktop {
    display: block;
  }

  .contenedor {
    background: transparent;
  }

  .checkbox {
    position: relative;
    left: 0px;
  }
  .contenedor-contactanos {
    background: #f5f5f5;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  .contenedor-titulo-contactanos h1 {
    font-size: 34pt;
    line-height: 35pt;
  }

  .contenedor-titulo-contactanos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    width: 80%;
  }

  .btnRegistro:hover {
    background: #f9b208;
  }
}
