
.contenedor-nosotros {
  padding:15px;
}

.contenendor-nososotros-titulo{
  /* color:#ececec; */
}

.contenendor-nososotros-cuerpo {
  margin-top:10px;
}

.nosotros-imagenes{
  
  width: 100%;
  height:500px;
}

.nosotros-imagen {
  width:100%;
  height:50%;
}

.nosotros-imagen h1{
  display: flex;
  width: 100%;
  position: absolute;
  margin-top: -145px;
  justify-content: center;
  color:#fff;
}

.nosotros-imagen img {
  object-fit: cover;
  width: 100%;
  height:100%;
  opacity: 0.7;
}

.nosotros-texto{
  width:100%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.nosotros-texto p {
  padding:10px;
  font-size: 24px;
  text-align: justify;
 
}

.nosotros-texto ul {
  list-style: none;
}

.contenendor-nososotros-cuerpo p {
  text-align:justify;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 2;
}

.imagen {
  height: 330px !important;
  overflow: hidden !important;
}