.contenedor-nosotros {
  padding: 15px;
}

.contenendor-nososotros-titulo {
  /* color:#ececec; */
}

.contenendor-nososotros-cuerpo {
  margin-top: 30px;
}

.nosotros-imagenes {
  width: 100%;
  height: 500px;
}

.nosotros-imagen {
  width: 100%;
  height: 50%;
}

.nosotros-imagen h1 {
  display: flex;
  width: 100%;
  position: absolute;
  margin-top: -145px;
  justify-content: center;
  color: #fff;
}

.nosotros-imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.nosotros-texto {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nosotros-texto p {
  padding: 10px;
  font-size: 24px;
  text-align: justify;
}

.nosotros-texto ul {
  list-style: none;
}

.contenendor-nososotros-cuerpo p {
  text-align: justify;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 2;
}

.imagen {
  height: 330px !important;
  overflow: hidden !important;
}

.enlaces-desktop {
  display: none;
}

#idCel {
  display: block;
}

.seccion-imagenes {
  display: none;
}

@media (min-width: 1366.1px) {
  .h-160 {
    height: 160% !important;
  }

  .tarjeta-cabecera {
    overflow: hidden;
  }

  .imagen {
    display: none;
  }

  .contenendor-nososotros-cuerpo h1 {
    color: #4a4a4a;
    font-size: 34px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .enlaces-desktop {
    display: block;
  }

  .imagen {
    display: none;
  }

  .seccion-imagenes {
    display: block;
  }

  .contenendor-nososotros-cuerpo h1 {
    color: #4a4a4a;
    font-size: 34px;
  }

  .titulo-imagen {
    position: relative;
    top: 0px;
    text-align: start;
    margin-top: 30px;
    font-size: 20px;
    text-shadow: none;
    color: #4a4a4a;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  #idCel {
    display: none;
  }

  .imagen {
    height: 90px !important;
  }

  .contenedor-nosotros {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
  }

  .contenendor-nososotros-cuerpo p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
    font-size: 16px;
    text-align: justify;
  }

  .nosotros-imagenes {
    display: none;
  }

  .seccion-imagenes {
    width: 80%;
    height: 1150px;
    margin-left: auto;
    margin-right: auto;
    /* display:flex;
    align-items: space-between;
    align-content: space-between;
    justify-content: center;
    justify-items: center; */
  }

  .tarjeta-imagen {
    width: 45%;
    height: 450px;
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid #9994945e;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  .tarjeta-contenido {
    padding: 25px;
  }

  .tarjeta-cabecera {
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }

  .tarjeta-titulo {
    width: 100%;
    height: auto;
    font-weight: bold;
    margin-top: 10px;
  }

  .tarjeta-texto {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    text-align: justify;
  }

  .tarjeta-texto ul {
    list-style: none;
  }

  .tarjeta-cabecera img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
